{{! This is the post loop - each post will be output using this markup }}

<section class="slider-main">
            <div id="left-arrow">
                <a href="#" class="unslider-arrow prev">
                    <i class="fa fa-chevron-left fa-2x"></i>
                </a>
            </div>
            <div id="right-arrow">
                <a href="#" class="unslider-arrow next">
                    <i class="fa fa-chevron-right fa-2x"></i>
                </a>
            </div>
            <div class="slider">
                <ul>
                {{#foreach posts}}
                    <li class="slide" style="background: url({{image}}) no-repeat center center ;   -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover;  background-size: cover;">
                        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                        <p>{{excerpt words="26"}}</p>
                        <a class="btn" href="{{url}}">Show more</a>
                    </li>
                   
                </ul>
                {{/foreach}}
            </div>
        </section>
        